In [ ]:
profil <- function(x){x / sum(x) * 100}

In [1]:
# Load the vacances dataset
vacances <- read.csv("vacances.csv", header = TRUE, row.names = 1, sep = ";")
vacances

     HOTE LOCA RESS RPPA RSPA TENTE CARAVANE AJ  VILLAGEV
AGRI  41   47   13    59  17   26     4        9  19
ARTI 220  260   71   299 120  120    64       35  29
CSPI 685  775  450  1242 706  706   122      100 130
PINT 485  639  292  1250 398  398   273       68 193
EMP  190  352   67   813 163  163   161       49  72
OUVR 224  591  147  1204 181  181   306       74 114
RET  754  393  692  1158 223  223   195       47 115
AINA  31   34    2   225  42   42     5        6  14

In [2]:
# Summary of the vacances dataset
summary(vacances)

      HOTE            LOCA            RESS            RPPA
 Min.   : 31.0   Min.   : 34.0   Min.   :  2.0   Min.   :  59.0
 1st Qu.:152.8   1st Qu.:206.8   1st Qu.: 53.5   1st Qu.: 280.5
 Median :222.0   Median :372.5   Median :109.0   Median : 985.5
 Mean   :328.8   Mean   :386.4   Mean   :216.8   Mean   : 781.2
 3rd Qu.:535.0   3rd Qu.:603.0   3rd Qu.:331.5   3rd Qu.:1213.5
 Max.   :754.0   Max.   :775.0   Max.   :692.0   Max.   :1250.0
      RSPA           TENTE          CARAVANE            AJ
 Min.   : 17.0   Min.   : 26.0   Min.   :  4.00   Min.   :  6.0
 1st Qu.:100.5   1st Qu.:100.5   1st Qu.: 49.25   1st Qu.: 28.5
 Median :172.0   Median :172.0   Median :141.50   Median : 48.0
 Mean   :231.2   Mean   :232.4   Mean   :141.25   Mean   : 48.5
 3rd Qu.:266.8   3rd Qu.:266.8   3rd Qu.:214.50   3rd Qu.: 69.5
 Max.   :706.0   Max.   :706.0   Max.   :306.00   Max.   :100.0
    VILLAGEV
 Min.   : 14.00
 1st Qu.: 26.50
 Median : 93.00
 Mean   : 85.75
 3rd Qu.:118.75
 Max.   :193.00

In [3]:
# Profile transformations on vacances dataset
profil.ligne <- t(apply(vacances[,1:6], 1, profil))
profil.colonne <- apply(vacances[,1:6], 2, profil)
profil.colonne

ERROR: Error: objeto 'profil' não encontrado

In [ ]:
# Chi-squared test on vacances dataset
chideux <- chisq.test(vacances[,1:6])
chideux

In [ ]:
# Correspondence Analysis on vacances data
res.ca <- CA(vacances)
barplot(res.ca$eig[,2], names=paste("Dim", 1:nrow(res.ca$eig)))
round(res.ca$eig, 3)

In [ ]:
# Additional CA plots
plot(res.ca)
plot(res.ca, invisible="row")
plot(res.ca, invisible=c("col", "col.sup"))
plot(res.ca, axes = 2:3)